$color-green-light: #3bb78f;
$color-green-dark: #0bab64;

$color-blue-light: #009ffd;
$color-blue-dark: #2a2a72;

$color-red-light: #fc575e;
$color-red-dark: #bd4f6c;

$color-grey: #aaa;

$color-white: #fff;
$color-black: #000;

$shadow-box: 0 2rem 4rem rgba($color-black, 0.4);
$shadow-box-light: 0 0.5rem 1rem rgba($color-black, 0.4);
