.form {
    background-image: linear-gradient(
        315deg,
        $color-green-light,
        $color-green-dark,
        $color-red-dark,
        $color-red-light
    );
    background-size: 200% 200%;
    background-position: 100% 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    transition: all 1s ease;
    animation: gradient-green 0s both;

    &__group {
        background-color: $color-white;
        border-radius: 1rem;
        box-shadow: $shadow-box;
        height: 10rem;
        min-width: 50vw;
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
        transition: all 0.5s;

        &--active {
            opacity: 1;
            pointer-events: all;
            transform: translate(-50%, -50%);
        }

        &--inactive {
            opacity: 0;
            pointer-events: none;
            transform: translate(-30%, -50%) !important;
        }
    }

    &__input {
        font-size: 3.5rem;
        border: none;
        height: 100%;
        outline: none;
        flex-grow: 1;

        &:placeholder-shown + .form__slide {
            transform: translate(0.5rem, 0);
        }

        &::placeholder {
            color: transparent;
        }
    }

    &__slide {
        font-size: 3.5rem;
        font-weight: 700;
        margin-left: 10rem;
        position: absolute;
        transform: translateY(-10rem) scale(1.3);
        transition: all 0.5s ease;
    }
}
