.background {
    border-radius: 50%;
    box-shadow: $shadow-box;
    opacity: 0.8;

    &--1 {
        background-image: linear-gradient(
            315deg,
            $color-green-light,
            $color-green-dark,
            $color-red-dark,
            $color-red-light
        );
        background-size: 200% 200%;
        background-position: 100% 100%;
        width: 35rem;
        height: 35rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        animation: gradient-green 0s both;

        @include responsive(tab-l) {
            width: 50rem;
            height: 50rem;
            top: 30%;
        }

        @include responsive(tab-p) {
            width: 40rem;
            height: 40rem;
        }

        @include responsive(800) {
            width: 32rem;
            height: 32rem;
        }
    }

    &--2 {
        background-image: linear-gradient(
            315deg,
            $color-green-light,
            $color-green-dark,
            $color-red-light,
            $color-red-dark
        );
        background-size: 200% 200%;
        background-position: 100% 100%;
        width: 100rem;
        height: 100rem;
        position: absolute;
        top: 100%;
        left: 100%;
        transform: translate(-50%, -50%);
        z-index: 1;
        animation: gradient-green 0s both;

        @include responsive(tab-l) {
            width: 130rem;
            height: 130rem;
        }

        @include responsive(tab-p) {
            width: 100rem;
            height: 100rem;
        }
    }

    &--inner {
        background-image: linear-gradient(to bottom right, $color-grey, $color-green-dark);
        width: 65rem;
        height: 65rem;
        opacity: 0.8;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        @include responsive(tab-l) {
            width: 90rem;
            height: 90rem;
        }

        @include responsive(tab-p) {
            width: 70rem;
            height: 70rem;
        }
    }
}
