.error-message {
    color: $color-red-light;
    background-color: rgba($color-black, 0.7);
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin-top: 3rem;
    opacity: 1;
    pointer-events: all;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    transition: opacity 0.5s ease-in-out;

    &--disable {
        opacity: 0;
        pointer-events: none;
    }
}
