.loading {
    background-image: linear-gradient(
        315deg,
        $color-blue-dark,
        $color-blue-light,
        $color-green-light,
        $color-green-dark,
        $color-red-light,
        $color-red-dark
    );
    background-size: 400% 400%;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
    animation: loading-gradient 5s ease-in-out infinite;
    z-index: 6;

    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__element {
        color: $color-white;
        font-size: 4rem;
        font-weight: 700;
        width: 7rem;
        height: 25rem;
        margin: 0 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: loading 1.5s linear infinite;

        @for $i from 1 through 7 {
            &:nth-child(#{$i}) {
                animation-delay: calc(#{$i} * 0.3s);
            }
        }

        @include responsive(tab-p) {
            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    animation-delay: calc(#{$i} * 0.3s);
                }
            }
        }

        @include responsive(750) {
            width: 5rem;
        }
    }

    &--disable {
        opacity: 0;
        pointer-events: none;
        animation: none;

        & .loading__element {
            animation: none;
        }
    }
}
