.progress {
    color: $color-white;
    font-size: 5rem;
    border-radius: 0.5rem;
    height: 35rem;
    min-width: 3rem;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translate(-50%, -50%);
    z-index: 5;

    @include responsive(tab-l) {
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
    }

    &__indicator {
        background-color: transparent;
        height: 3.5rem;
        width: 3.5rem;
        border: solid $color-white 0.5rem;
        border-radius: 100rem;
        transition: all 0.3s ease-in-out;

        &--checked {
            background-color: $color-white;
        }
    }
}
