@keyframes shake {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    13% {
        transform: translate(-50%, -50%) rotate(-5deg);
    }

    25% {
        transform: translate(-50%, -50%) rotate(0);
    }

    38% {
        transform: translate(-50%, -50%) rotate(5deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(0);
    }

    63% {
        transform: translate(-50%, -50%) rotate(-5deg);
    }

    75% {
        transform: translate(-50%, -50%) rotate(0);
    }

    88% {
        transform: translate(-50%, -50%) rotate(5deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0);
    }
}

@keyframes gradient-green {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 100%;
    }
}

@keyframes gradient-red {
    from {
        background-position: 100% 100%;
    }

    to {
        background-position: 0% 0%;
    }
}
